<footer id="landing-footer" class="clearfix">
    <div class="row clearfix">
        <p id="copyright" class="col-2">Made with love by <a href="https://mo-ramadan.netlify.app"
                target="_blank">mohamedRamadan</a></p>
        <ul class="col-2 social-icons">
            @for (link of links; track link.id) {
            <li>
                <a target="_blank" [title]="link.title" [href]="link.href">
                    <i [class]="link.icon"></i><span>{{link.title}}</span>
                </a>
            </li>
            }
        </ul>
    </div>
</footer>