<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
        <!-- <div class="row">

            <blockquote class="col-3-3  testimonial classic text-center">
                <img src="./assets/images/me.jpeg" alt="User"/>
                <P>MOHAMED RAMADAN</P>
                <footer>OWNER</footer>
            </blockquote>
        </div> -->


    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">
  
        <div class="col-38">
  
            <div class="section-heading">
                <h1>I am Mohamed Ramadan, Full Stack Developer</h1>
                <h2>You always try to do your best in everything, but sometimes the best isn't enough, that's when you have to
                    push your limits.</h2>
            </div>
  
            <!--Call to Action-->
            <a routerLink="/about" class="button">START CREATING TODAY</a>
            <!--End Call to Action-->
  
        </div>
  
    </div><!--End of Row-->
  </header>