<div id="header" class="nav-collapse">
    <div class="row clearfix">
        <div class="col-1">
            <div id="logo">
                <img src="./assets/images/logo.png" id="banner-logo" alt="Landing Page" />
                <img src="./assets/images/logo1.png" id="navigation-logo" alt="Landing Page" />
            </div>
            <aside>
                <ul class="social-icons">
                    @for (link of links; track link.id) {
                    <li>
                        <a target="_blank" [title]="link.title" [href]="link.href">
                            <i [class]="link.icon"></i><span>{{link.title}}</span>
                        </a>
                    </li>
                    }
                </ul>
            </aside>
            <nav id="nav-main">
                <ul>
                    @for (page of pages; track page.id) {
                    <li>
                        <a [routerLink]="page.path" routerLinkActive="active"
                            ariaCurrentWhenActive="page">{{page.title}}</a>
                    </li>
                    }
                </ul>
            </nav>
            <div id="nav-trigger"><span></span></div>
            <nav id="nav-mobile"></nav>
        </div>
    </div>
</div>