<!--Content Section-->
<div id="services" class="scrollto clearfix">

    <div class="row no-padding-bottom clearfix">


        <!--Content Left Side-->
        <div class="col-3">
            <!--User Testimonial-->
            <blockquote class="testimonial text-right bigtest">
                <q>لكسب باليد أو العمل في الإسلام له حكم وضوابط فلا يحل للمسلم أن يكسل عن طلب رزقه، باسم التفرغ
                    للعبادة، أو التوكل على الله، فإن السماء لا تمطر ذهبا ولا فضة. كما لا يحل له أن يعتمد على صدقة
                    يمنحها، وهو يملك من أسباب القوة ما يسعى به على نفسه، ويغني به أهله ومن يعول</q>
                <!-- <footer>— John Doe, Happy Customer</footer> -->
            </blockquote>
            <!-- End of Testimonial-->

        </div>
        <!--End Content Left Side-->

        <!--Content of the Right Side-->
        <div class="col-3">
            <div class="section-heading">
                <h3>BELIEVING</h3>
                <h2 class="section-title">Focusing On What Matters Most</h2>
                <p class="section-subtitle">We assure you of our best service at all times vs assuring you of our best
                    services always!</p>
            </div>
            <p>You can do whatever you want in life, but you must remember one thing: don't waste it for something
                that's not worth it.
            </p>
            <p>
                you can do what i cannot do. i can do what you cannot do. together we can do great things!
            </p>
            <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
            <a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
                WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
            </a>
        </div>
        <!--End Content Right Side-->

        <div class="col-3">
            <img src="https://i.redd.it/vcnlupr5cep31.jpg" alt="Dancer" />
        </div>

    </div>


</div>
<!--End of Content Section-->